*{}

body{
background-color:orange;
color:white;
}

#menu{
	background-color:black;
	position:fixed;
	top:0%;
	left:0%;
	width:100%;
	height:12%;
	opacity:0.9;
	border-bottom:solid 2px red;
}

#link{
	position:relative;
	float:left;
	left:38%;
	top:30%;
	font-size:25px;
}

#link a:link {
  color:white;
  text-decoration:none;
}
#link a:visited {
  color:white;
  text-decoration:none;
}

#logo{
	position:absolute;
	top:10%;
	left:3%;
	width:20%;
}
#tiamiria{
	position: absolute;
	width: 60%;
	left: 20%;
	top: 5%;
}
#tia{

	top: 90%;
	color: brown;
	font-size: 30px; 
	
}

#principal{
	
	background-color:black;
	position:absolute;
	left:10%;
	top:15%;
	width:80%;
	opacity:0.9;
	text-align:center;
}

